@model CSResults.Models.ResultsGraphViewModel
@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var yrs = new List<String>();
    var mean = new List<Double?>();
    var module_name = Model.resultViewModel.First().module.moduleName.ToString();

    foreach (var item in Model.resultViewModel)
    {
        yrs.Add(item.result.year);
        mean.Add(item.result.mean);
    }
}

<h2>Graph</h2>
<form>

    <div class="form-group row">

        <div class="col-lg-1">

         </div>

            <label for="module" class="col-lg-2 col-form-label pr-2 text-md-left text-lg-right">
                @Html.DisplayNameFor(model => model.resultViewModel.First().module.moduleName)
            </label>


            <div class="col-lg-6 search pr-0 pl-0">
                <select id="module" class="form-control">
                    @foreach (var item in Model.modules)
                    {
                        <option> @Html.DisplayFor(modelItem => item.moduleName)</option>

                    }
                </select>
            </div>

            <div class="col-lg-2 pl-1">
                <button type="submit" class="btn btn-success mb-2">
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>

</form>
<canvas id="lineChart"></canvas>


<script>

    var ctx = document.getElementById('lineChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: @Html.Raw(Json.Encode(yrs)),
        datasets: [{
            label: @Html.Raw(Json.Encode(module_name)),
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: @Html.Raw(Json.Encode(mean))
        }]
    },

    // Configuration options go here
    options: {}
});

</script>
