@model IEnumerable<CSResults.Models.ResultsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results for all Modules</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.module.moduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result.mean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result.median)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.module.moduleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.result.year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.result.mean)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.result.median)
    </td>
</tr>
     

    }

</table>
