<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CS Results</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/argon")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/popper")
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <!-- NavBar which contains the sidebar-->
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">

        <!--Toggler-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <a class="navbar-brand" @Html.ActionLink("CS Results", "Index", "Home")</a>
        </div>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">

            <!--Sidebar Items-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <i class="fa fa-table fa-fw text-blue nav-list-item" aria-hidden="true"></i> <a>@Html.ActionLink("Results Table", "Index", "Modules")</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-area-chart fa-fw text-orange" aria-hidden="true"></i> <a>@Html.ActionLink("Results by Module", "Graph", "Modules")</a>
                </li>
                <li class="nav-item">
                    <i class="fa fa-bar-chart fa-fw text-pink" aria-hidden="true"></i> <a>@Html.ActionLink("Results by Academic Year", "Graph", "Modules")</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main part of the page-->
    <div class="main-content">

        <!-- NavBar on the main part of the page-->
        <nav class="navbar top-row-nav sticky-top">
            <div class="nav navbar-nav mx-auto">
                <span class="top-row-nav-text">Dashboard</span>
            </div>
        </nav>
        <br />
        <div class="container col-lg-10">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Chrisateen</p>
            </footer>
        </div>
    </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
