@model IEnumerable<CSResults.Models.Result>

@{
    ViewBag.Title = "Results Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/bootstrapTable")


<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>

<h2>Results for all Modules</h2>

<br>

<table 
       id="resultsTable"
       data-toggle="table"
       data-search="true"
       data-show-columns="true"
       data-sortable="true"
       data-pagination="true"
       data-fixed-columns="true"
       data-fixed-number=2
       data-show-export="true"
       data-export-data-type="all">
    <thead>
        <tr id="title">

            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.modName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.mean)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.median)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below30)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below40)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below50)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below60)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below70)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.below80)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.above80)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="body">
                <td>
                    @Html.DisplayFor(modelItem => item.modName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mean)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.median)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below30)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below40)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below50)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below60)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below70)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.below80)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.above80)
                </td>
            </tr>


        }
    </tbody>
</table>